h1{
    text-align: center; 
    font-size: 80px; 
    font-family: 'Lobster Two', cursive; 
    color: darkblue;
}

button{
    background-color: darkblue; 
    color: white; 
    font-size: 2em;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: 5px dashed darkblue;
}


@keyframes example {
    from {box-shadow: 5px, 5px, 38px, red;}
    to {box-shadow: 5px, 5px, 38px, purple;}
}